h2 {
    color: #ffffff;
}

h3 {
    color: #ffffff;
}

h5 {
    font-weight: 600;
}

p {
    color: #ffffff;
}

text {
    color: #ffffff;
}

table {
    color: #ffffff;
}

.titulo---contacto {
    color: black;
}